body {
  font-family: sans-serif;
  background: #fff0f5;
  text-align: center;
}
.container {
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.gallery div {
  border: 2px solid pink;
  padding: 10px;
  border-radius: 10px;
}
.gallery img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
